<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @physician.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @physician.specialty %>
</p>


<h3>Office</h3>
<table class="show_tables">
<tr>
<th>Street Address</th>
<th>Zip Code</th>
<th>Phone Number</th>
</tr>
<% @physician.offices.each do |office| %>
  <tr>
  <td><%= office.street_address %></td>
  <td><%= office.zip %></td>
  <td><%= office.phone %></td>
  </tr>
  <% end %>
</table>
<h3>Appointments</h3>
<table class="show_tables">
  <tr>
  <th> Name</th>
  <th> Date</th>
  </tr>
  <% @physician.appointments.each do |appointment| %>
    <tr>
    <td><%= appointment.patient.name %></td>
    <td><%= appointment.visit %></td>
    </tr>
  <% end %>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
